/* Main CSS sheet for www.anniel.in 16a085 */

@media only screen and (max-height: 500px) {
  .non-mobile {display: none;}
}

@media only screen and (min-height: 500px) {
  .mobile {display: none;}
}


/* Fonts */
@font-face {
	font-family: passiontea;
	src: url(/fonts/PassionTea.ttf);
}

@font-face {
	font-family: caviardreams;
	src: url(/fonts/CaviarDreams.ttf);
}

/* Text Attributes */
h1 {
	font-family: caviardreams;
	font-weight: 900;
	color: #aaa; 
	font-size: 20px;
}

p {  
	font-family: caviardreams;
	color: #555; 
	font-size: 15px;
}

/* Makes the default Bootstrap navbar white */
.head-foot {
	background-color: #fff;
	border: none;
}

/* Scissor line for the header */
hr { 
  border-top: 1.5px dashed #666; 
} 

hr:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -13px; 
  padding: 0 3px; 
  background: #fff; 
  color: #666; 
  font-size: 18px; 
}

/* Links */
a:link {text-decoration:none; color: #666;}
a:visited {text-decoration:none; color: #666;}
a:hover {text-decoration:none; color: #16a085;}
a:active {text-decoration:none; color: #666;}

/* The cog in the middle of header */
#cog:link {text-decoration:none; color: #16a085;}
#cog:visited {text-decoration:none; color: #16a085;}
#cog:hover {text-decoration:none; color: #16a085;}
#cog:active {text-decoration:none; color: #16a085}

/* Lists */
.list li {
display: inline-block;
font-family: caviardreams;
background: #aaa;
color: #fff;
font-size: 15px; 
padding: 2px 2px;
margin: 0 0px 4px 0;
}

.list {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}









