@font-face
{
font-family: passiontea;
src: url(/fonts/PassionTea.ttf);
}

@font-face
{
font-family: caviardreams;
src: url(/fonts/CaviarDreams.ttf);
}

a:link {text-decoration:none; color: #666;}
a:visited {text-decoration:none; color: #666;}
a:hover {text-decoration:none; color: #666;}
a:active {text-decoration:none; color: #666;}

.main
{
width: 900px;
margin-left: auto;
margin-right: auto;
display: block;
font-family: passiontea
}

h1
{
margin: 0px 0px 0px 0px;
color: #aaa; 
font-size: 30px;
}

p
{  
margin: 0px 0px 0px 0px;
color: #555; 
font-size: 20px;
}

.list li {
display: inline-block;
background: #ccc;
color: #FFF;
font-size: 20px;    
padding: 2px 2px;
margin: 0 0px 4px 0;
}

.list{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#header {
position: static;
margin-left: auto;
margin-right: auto;
width: 800px;
overflow: auto;
display: block;
padding: 0px 0px 30px;
}

#iamannielin {
float: left;
display: block;
background-image: url(images/icons/shortcuticon.png);  
background-size: 75px 72px;
background-repeat:no-repeat;
width: 75px;
height: 72px;
margin-top: 30px;
margin-right: 6px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#iamannielin:hover {
background-image: url(images/icons/shortcuticonhover.png);  
background-size: 75px 72px;
background-repeat:no-repeat;
}

#email {
float: left;
display: block;
background-image: url(images/icons/emailicon.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
width: 30px;
height: 30px;
margin-top: 0px;
margin-right: 4px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#email:hover {
background-image: url(images/icons/emailiconhover.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
}

#linkedin {
float: left;
display: block;
background-image: url(images/icons/linkedinicon.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
width: 30px;
height: 30px;
margin-top: 0px;
margin-right: 4px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#linkedin:hover {
background-image: url(images/icons/linkediniconhover.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
}

#facebook {
float: left;
display: block;
background-image: url(images/icons/facebookicon.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
width: 30px;
height: 30px;
margin-top: 0px;
margin-right: 4px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#facebook:hover {
background-image: url(images/icons/facebookiconhover.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
}

#instagram {
float: left;
display: block;
background-image: url(images/icons/instagramicon.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
width: 30px;
height: 30px;
margin-top: 0px;
margin-right: 4px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#instagram:hover {
background-image: url(images/icons/instagramiconhover.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
}

#tumblr {
float: left;
display: block;
background-image: url(images/icons/tumblricon.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
width: 30px;
height: 30px;
margin-top: 0px;
margin-right: 4px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#tumblr:hover {
background-image: url(images/icons/tumblriconhover.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
}

#youtube {
float: left;
display: block;
background-image: url(images/icons/youtubeicon.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
width: 30px;
height: 30px;
margin-top: 0px;
margin-right: 4px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#youtube:hover {
background-image: url(images/icons/youtubeiconhover.png);  
background-size: 30px 30px;
background-repeat:no-repeat;
}

#icons {
float: left;
display: block;
width: 13%;
position: relative; 
top: 37px;
}

#navbar{
position: relative; 
top: 32px;
float: right;
padding-right: 3px
}

#navtag{
overflow: auto;
list-style-type: none;
}

#navigation {
height: 50px;
float: left;
border-right: 1px solid #aaa;
padding: 0px 20px
}
 
#navigation:last-child {
border-right: none;
padding-left: 20px;
padding-right:  3px;
}
 
#navigation a {
text-decoration: none;
color: #ccc;
font: 50px/1 passiontea;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}
 
#navigation a:hover {
color: #666;
}

#line {
background-image: url(/images/dashes.png);
background-repeat: repeat-x;
padding-top: 10px;
position: relative; 
top: 90px;
width: 98%;
}

#scissors {
background-image: url(images/scissors.png);  
background-size: 20px 20px;
background-repeat:no-repeat;
position: relative; 
top: 103px;
left: 775px;
width: 20px;
height: 20px;
}

#footer{
text-align:center; 
margin: 20px; 
font-family: passiontea; 
color: #666;  
width: 100%; 
clear: both; 
margin-bottom: 24px;
}

#footer:hover{
color: #941100;
}


.col1about {
float: left;
width: 50%;
}

.col2about {
font-size: 18px;
float: right;
width: 45%;
font-family: caviardreams;
position: relative; 
left: 50px;
}

#aboutimage {
position: relative; 
bottom: 10px;
right: 80px;
float: left;
display: block;
background-image: url(images/aboutimagehover.png);  
background-size: 600px;
background-repeat:no-repeat;
width: 600px;
height: 375px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#aboutimage:hover {
background-image: url(images/aboutimage.png);  
background-size: 600px;
background-repeat:no-repeat;
}

#eyes{
font-size: 30px;
text-align: center;
}

#eyestiny{
font-size: 15px;
text-align: center;
}

.col1blog {
float: left;
width: 30%;
font-family: caviardreams;
position: relative; 
top: 150px;
}

.col2blog {
float: right;
width: 70%;
font-family: caviardreams;
}
