@font-face
{
font-family: passiontea;
src: url(PassionTea.ttf);
}

@font-face
{
font-family: caviardreams;
src: url(CaviarDreams.ttf);
}

.main
{
width: 900px;
margin-left: auto;
margin-right: auto;
display: block;
font-family: passiontea
}

h1
{
color: #666; 
font-size: 20px;
}

h1:hover
{
color: #941100;  
font-size: 20px;
}

#header {
position: static;
margin-left: auto;
margin-right: auto;
width: 800px;
overflow: auto;
display: block;
padding: 0px 0px 30px;
}

#iamannielin {
color: #666;
float: left;
display: block;
width: 11%;
font-size: 30px;
}

#navigation {
float: right;
display: block;
text-align: right;
width: 60%;
position: relative; 
top: 50px;
}

#icons {
float: left;
display: block;
width: 13%;
position: relative; 
top: 37px;
}

.icon {
   width:30px;
}

.nav {
display: inline-block;
font-size: 50px;
color: #666;
padding: 3px 10px 5px;
margin: 0 4px;
}

.nav:hover {
background-color: #A9A9A9;
color: #941100
}

.nav:active {
background-color: #A9A9A9;
color: #941100
}

.col1 {
font-size: 15px;
float: left;
width: 50%;
font-family: caviardreams;
}

.col2 {
font-size: 15px;
float: right;
width: 40%;
font-family: caviardreams;
}

#line {
background-image: url(/images/dashes.png);
background-repeat: repeat-x;
background-position: top left;
margin-top: 20px;
padding-top: 30px;
position: relative; 
top: 90px;
width: 98%;
}

#scissors {
position: relative; 
top: 1px;
width: 30px;
}

.list li {
display: inline-block;
background: #A9A9A9;
color: #FFF;
font-size: 12px;    
padding: 4px 8px;
margin: 0 8px 10px 0;
}

#footer{
text-align:center; 
margin: 20px; 
font-family: passiontea; 
color: #666; 
position: absolute; 
bottom: 0; 
width: 100%; 
clear: both; 
margin-bottom: 24px;
}

#footer:hover{
color: #941100;
}

#eyes{
font-size: 30px;
text-align: center;
}

#eyestiny:hover{
color: #941100;
}

#eyestiny{
font-size: 15px;
text-align: center;
}

#eyes:hover{
color: #941100;
}

.col1blog {
float: left;
width: 30%;
font-family: caviardreams;
}

.col2blog {
float: right;
width: 70%;
font-family: caviardreams;
}

a:link {text-decoration:none; color: #666;}
a:visited {text-decoration:none; color: #666;}
a:hover {text-decoration:none; color: #666;}
a:active {text-decoration:none; color: #666;}
