@font-face
{
font-family: passiontea;
src: url(PassionTea.ttf);
}

.main
{
width: 1000px;
margin-left: auto;
margin-right: auto;
display: block;
font-family: passiontea
}

h1
{
color: #666;  
font-size: 30px;
}

#header {
position: static;
margin-left: auto;
margin-right: auto;
width: 800px;
overflow: auto;
display: block;
padding: 0px 0px 30px;
}

#iamannielin {
color: #666;
float: left;
display: block;
width: 11%;
font-size: 30px;
}

#navigation {
float: right;
display: block;
text-align: right;
width: 60%;
position: relative; 
top: 50px;
}

#icons {
float: left;
display: block;
width: 13%;
position: relative; 
top: 37px;
}

.icon {
   width:30px;
}

.nav {
display: inline-block;
font-size: 50px;
color: #666;
padding: 3px 10px 5px;
margin: 0 4px;
}

.nav:hover {
background-color: #A9A9A9;
color: #941100
}

.nav:active {
background-color: #A9A9A9;
color: #941100
}

#col1 {
float: left;
display: block;
text-align: left;
width: 50%;
}

#col2 {
float: right;
display: block;
text-align: right;
width: 100%;
}

#line {
background-image: url(/images/dashes.png);
background-repeat: repeat-x;
background-position: top left;
margin-top: 20px;
padding-top: 30px;
position: relative; 
top: 90px;
width: 98%;
}

#scissors {
position: relative; 
top: 1px;
width: 30px;
}

a:link {text-decoration:none; color: #666;}
a:visited {text-decoration:none; color: #666;}
a:hover {text-decoration:none; color: #666;}
a:active {text-decoration:none; color: #666;}