/* Links */
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:none}
a:active {text-decoration:none}

/* Button Colors */
.air {color: #6b797a}
.air:hover {color: #86999a}
.bio {color: #1c9739}
.bio:hover {color: #22b847}
.history {color: #df6c08}
.history:hover {color: #f0740a}
.people {color: #66098e}
.people:hover {color: #7f09b3}
.soil {color: #98672d}
.soil:hover {color: #c1833b}
.water {color: #2684d4}
.water:hover {color: #2892eb}

/* Lists */
.list li {
display: inline-block;
padding: 2px 2px;
margin: 0 0px 4px 0;
}

.list {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

/* Center Image */
.center-img {
    margin: 0 auto;
}

